# 1. PlatformIO - Pliki budowania (nie pchamy binarek do repo)
.pio/
.pioenvs
.piolibdeps
.clang_format

# 2. VS Code - Lokalne ustawienia edytora
.vscode/.browserslistrc
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/extensions.json
.vscode/tasks.json
.vscode/ipch/

# 3. Systemowe śmieci (Mac/Windows)
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

# 4. BEZPIECZEŃSTWO - Tu trzymamy hasła!
# To najważniejsza sekcja. Git będzie ślepy na te pliki.
include/secrets.h
src/secrets.h
secrets.h