#pragma once

/**
 * TU SKONFIGURUJ SWOJE DANE I ZMIEŃ NAZWĘ TEGO PLIKU NA secrets.h
 * PLIK secrets.h POWINIEN BYĆ ZIGNOROWANY W .gitignore
 */

// WiFi configuration
struct WifiCreds {
    const char* ssid;
    const char* pass;
};

const WifiCreds WIFI_NETWORKS[] = {
    {"TWOJE_SSID_1", "HASLO_1"},
    // {"TWOJE_SSID_2", "HASLO_2"}
};
const int WIFI_NETWORKS_COUNT = sizeof(WIFI_NETWORKS) / sizeof(WIFI_NETWORKS[0]);

// Toggl Track configuration
// Token can be found at the bottom of Toggl profile settings
const char* const TOGGL_TOKEN = "TWÓJ_TOKEN_API"; 

// Workspace ID can be found in the URL when viewing Toggl timer (e.g., https://track.toggl.com/timer/1234567)
const char* const WORKSPACE_ID = "TWÓJ_WORKSPACE_ID";
